@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

.services {
  background: #000000;
  padding-bottom: 100px;
}

.services-container-titles {
  display: flex;
  justify-content: space-between;
}

.containerImgServices {
  flex: 30%;
  text-align: end;
  padding: 0%;
  margin-left: 0px;
}
.containerImgServices img {
  width: 40%;
  margin-top: 20px;
}
.container-titles {
  flex: 70%;
  margin-left: 18%;
  letter-spacing: -1px; /* Reduce espacio entre letras */
  line-height: 0.8; /* Reduce espacio entre líneas */
}
.title-servicios h2 {
  color: var(--color-secondary);
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 0;
}
.title-especializados h2 {
  margin-top: 0px;
  color: var(--color-bg);
  font-size: 5.5rem;
  font-weight: 400;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.service-category {
  color: var(--color-text);
  padding: 1rem;
  background: #ffffff;
  border-radius: 24px;
  border: double black 6px;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  will-change: opacity, transform;
  display: flex;
  flex-direction: column; /* elementos apilados en columna */
  align-items: flex-start; /* por defecto todo a la izquierda */
}

.service-category.visible {
  opacity: 1;
  transform: translateY(0);
}
.service-category img {
  width: 50px;
  align-self: flex-end;
  margin-top: auto;
}

.service-category:hover {
  transform: translateY(-5px);
  background-color: var(--color-secondary);
  color: var(--color-bg);
  border: none;
}
.service-category h3:hover {
  color: var(--color-text);
}

/* Asegurarse de que la transición del hover solo afecte cuando ya es visible */
.service-category.visible:hover {
  transition: transform 0.3s ease-out;
}

.service-category h3 {
  padding-left: 1rem;
  margin-top: 2px;
  font-size: 2.5rem;
  line-height: 1.1; /* Reduce espacio entre líneas */
  font-weight: 700;
}

.service-category ul {
  list-style: none !important;
  padding: 0;
}

.service-category li {
  margin-bottom: 0.8rem;
  position: relative;
  padding-left: 1.5rem;
}

.service-category li::before {
  color: var(--color-primary);
  position: absolute;
  left: 0;
}

@media (max-width: 600px) {
  .services {
    padding: 0;
    padding-bottom: 60px;
  }
  .services-container-titles {
    width: 100%;
  }

  .container-titles {
    margin-left: 2%;
  }
  .title-especializados h2 {
    font-size: 3rem;
  }
  .containerImgServices {
    overflow: hidden;
  }

  .containerImgServices img {
    width: 100px;
  }

  .service-category {
    width: 90%;
    margin-inline: 20px;
    padding-inline: 1px;
  }
}
