.main {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../img/fondo-main.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.main h2 {
  text-align: center;
  margin-bottom: 4%;
  font-size: 4.5rem;
  font-weight: 500;
  filter: invert(1);
  mix-blend-mode: difference;
}
.mainservices {
  margin: 2rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: solid #b6b2b2 1px;
  border-radius: 22px;
  overflow: hidden;
}
.mainservices:nth-child(3),
.mainservices:nth-of-type(4) {
  flex-direction: row-reverse; /*el contenedor del medio opuesto*/
}
/*.mainservices:last-child {
  color: aliceblue;
  background-color: black;
  border: none;
  border-radius: 0px;
  width: 100%;
  margin: 0;
  text-align: center;
}*/

.text-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding-inline: 6%;
}

.text-content h3 {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0;
}
.text-content p {
  margin-inline: 10%;
  text-align: justify;
}
.img-content {
  flex: 1;
  text-align: center;
  padding: 0; /* elimina padding */
  margin: 0; /* elimina margen */
}
.img-content video {
  width: 100%;
  height: 100%;
  display: block; /* elimina espacio extra de inline elements */
  object-fit: cover; /* opcional: asegura que el video cubra todo el contenedor */
  margin: 0; /* elimina margen */
  padding: 0; /* elimina padding */
}
@media (max-width: 600px) {
  .mainservices {
    flex-direction: column;

    width: 96%;
    margin-bottom: 20px;
  }
  .mainservices:nth-child(3),
  .mainservices:nth-of-type(4) {
    flex-direction: column;
  }
  .text-content H3 {
    margin-top: 8%;
    margin-bottom: 4%;
    width: 100%;
  }

  .text-content p {
    margin: 0;
    margin-inline: 2px;
    margin-bottom: 8%;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .mainservices {
    flex-direction: column;
    gap: 40px;
  }
  .mainservices:nth-child(3),
  .mainservices:nth-of-type(4) {
    flex-direction: column;
  }
  .text-content H3 {
    margin-top: 8%;
  }
}
