.about {
  padding: 5rem 2rem;
  background-image: url(../../img/fondo-about.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.about.visible {
  opacity: 1;
}

.about h2 {
  color: var(--color-primary);
  text-align: center;

  font-size: 3.5rem;
  font-weight: 200;
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
}

.about-content p {
  margin-bottom: 1.5rem;
  line-height: 1.6;
  color: var(--color-text);
  font-size: 1.1rem;
  text-align: center;
}

@media (max-width: 768px) {
  .about {
    padding: 3rem 1rem;
  }
}
