.about {
  transition: opacity 0.8s ease-in-out;
  margin: 0 auto;
  padding: 0;
}

.about.visible {
  opacity: 1;
}

.container-about-general {
  /*contenedor general (calandria y textos)*/
  display: flex;
  margin-top: 6vh;
}

.containerImgAbout {
  flex: 50%;
  margin-left: 20vh;
}
.containerImgAbout img {
  width: 700px;
}

.container-text-general {
  margin-right: 15%;
}

.container-titles-about {
  display: flex;
  gap: 10px;
  margin-bottom: 0px;
}
.title-sobre {
  font-size: 50px;
}
.title-nosotros {
  font-size: 50px;
  color: var(--color-secondary);
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
}

.about-content p {
  margin-bottom: 1.5rem;
  line-height: 1.6;
  color: var(--color-text);
  font-size: 1.2rem;
  text-align: justify;
  max-width: 600px;
}

.montañas {
  display: block; /* elimina el espacio de inline */
  width: 100%;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .about {
    padding: 3rem 1rem;
  }
}
