@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
.clients {
  padding: 2rem 2rem;
  background-image: url(../../img/fondo-clients.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  text-align: center;
}
.container-titles-clients {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 0px;
  flex-wrap: wrap;
}
.title-ellos h2 {
  font-size: 3rem;
  font-weight: 300;
  color: var(--color-primary);
}
.title-en-nosotros h2 {
  font-size: 3rem;
  font-weight: 600;
  color: var(--color-secondary);
}

.clients-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  margin-bottom: 10%;
}

.clients-logos img {
  width: 110px;
  height: auto;
  margin: 1%;
  object-fit: contain;
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.08));

  padding: 0.5rem;
  transition: transform 0.2s;
}

.clients-logos img:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .container-titles-clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .title-ellos h2 {
    font-size: 3.2rem;

    color: var(--color-primary);
    margin-bottom: 0px;
    line-height: 0.5;
  }
  .title-en-nosotros h2 {
    margin-top: 0px;
    line-height: 0.5;
    font-size: 3.6rem;

    color: var(--color-secondary);
  }
  .clients-logos {
    gap: 1rem;
  }
}
