.header {
  height: 94vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  text-align: center;
  background-image: url(../../img/fondo2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  animation: zoomEffect 4s ease-in-out alternate;
  transition: background 0.5s;
  padding: 2rem 1rem;
}
@keyframes zoomEffect {
  from {
    background-size: 105%;
  }
  to {
    background-size: 100%; /* hace zoom out */
  }
}

/* Animaciones para los elementos del header */

/* Tiempos de transición personalizados */
.header-logo {
  transition-duration: 0.7s;
  width: 80%;
  margin-bottom: 30px;
  transition: 1s;
  mix-blend-mode: difference;
  animation: blink 0.5s;
  animation-delay: 4s;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container-text-button {
  width: 100%;
  align-items: center;
}
.header h1 {
  margin-left: 5%;
  margin-top: 8%;
  text-align: justify;
  font-size: 4rem;
  color: rgb(255, 255, 255);
  font-weight: 900;
  transition-duration: 0.9s;
  mix-blend-mode: difference;
  letter-spacing: -1px; /* Reduce espacio entre letras */
  line-height: 0.9; /* Reduce espacio entre líneas */
}

@media (max-width: 600px) {
  .header {
    background-image: url(../../img/fondoHeaderMobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    animation: none;
    justify-content: center;
    gap: 2px;
    height: 80vh;
  }

  .header img {
    width: 98%;
    margin-top: 20px;
    margin-bottom: 20%;
  }
  .header h1 {
    font-size: 3rem;
    text-align: left;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .header {
    background-image: url(../../img/fondoHeaderMobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    animation: none;
    justify-content: center;
    gap: 2px;
    height: 80vh;
  }

  .header img {
    width: 98%;
    margin-top: 20px;
    margin-bottom: 8%;
  }
  .header h1 {
    font-size: 4rem;
    text-align: left;
  }
}
